body{ margin: 0;
  padding:0;
  font-family: "IBM Plex Mono", monospace;
}
/**HEADER Y CARRUSEL**/
.tituloLogo{text-align: center;
  font-size: 60px;
  font-weight: bold;
}
.tituloLogo a{text-decoration: none;
  color:black;
}
.menu{background-color: rgba(207, 207, 207, 0.89);
margin-bottom: 20px;
}
.menu li{list-style: none;
  margin: 0 2%;
  padding: 14px 30px;
   text-decoration: none;
  }
li a{text-decoration:none;
font-family: "IBM Plex Mono", monospace;
font-size: 20px;
color:black;
}
.platos {position:relative;
}
.desplegable{padding:0;
 display:none;
 position:absolute;
top:51px;
 left:0;
}
.desplegable .desplegablePlatos{margin-left:0;
}
nav li:hover > ul{display:block;
  z-index: 2;
  background-color: rgba(207, 207, 207, 0.89);
}
.menu a:hover{color: gray;
}
.list{display: flex;
 justify-content: center;
 padding:0;
}
.carrusel{display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5%; 
  z-index: 1;
}
.carruselImage{position: relative;
  width: 50%;
}
.carruselImage img{display: block;
  width: 100%;
}
.textoSobre{position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(240, 234, 234, 0.89);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.carruselImage:hover .textoSobre{height: 25%;
}
.textoSobre .texto{display: block;
  overflow: hidden;
  padding-left:4px;
  padding-top:8px;
  margin-bottom:8px;
}
.textoSobre .texto li{
  display: block;
  font-size: 11px;
  float:left;
  padding-left:15px;
  text-align: left;
}
.textoSobre p{
  margin-right: 10px;
  margin-left:3px;
  margin-bottom:6px;
  text-align: left;
  padding-left: 15px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 13px;
  }
.texto .textoFecha{
  padding-right: 0px;
  margin-right: 15px;
  }
.texto .textoComentarios{
  border-left: solid 1px black;
  }
  /**BOTONES CATEGORIAS**/
.recipe-item{
  width: 32%;
  height: 200px;
  background-image: url("../images/chocolate.jpg");
  background-size: cover;
  background-position: center; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;}
.postre{
  background-image: url("../images/galletas.jpg");
}
.exotico{
  background-image: url("../images/macaron.jpg.jpg");
}
.recipe-buttons{
  display: flex;
  justify-content: space-between;
}
.container{
  margin: 0 auto;
  overflow: hidden;
  width: 80%;
}
.container2{
  margin: 0 auto;
  overflow: hidden;
  width: 40%;
}
.recipe-a{
  text-decoration: none;
  color: black;
  background-color: white;
  width: 50%;
  height: 15%;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
}
.recipe-a:hover{
  background-color: pink;
  color: white;
}
/**SOBRE MI Y VIDEO**/
.aboutme{
  margin-top: 1.5%;
  font-family: "IBM Plex Mono", monospace;
}
.aboutme-box{
  width: 31.9%;
  float: right;
  align-items: center;
}
.videodiv{
  float: left;
  width: 66%;
}
.videodiv,.aboutme-box{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.videodescription{
  color: gray;
  font-size: 13px;
  margin: 2% 0 5% 0;
}
.aboutme-img{
  width: 200px;
  height:200px;
  border-radius:100px;
  margin: 15px 0;
}
.titulo-p,.aboutme-a{
  font-size: 12px;
  background-color: pink;
  width: 100%;
  text-align: center;
  padding: 8px 0;
  margin: 0;
}
.aboutme-a{
  text-decoration: none;
  color: black;
}
.aboutme-p{
  color: gray;
  text-align: center;
  margin: 15px 0;
  font-size: 13px;}
.aboutme .name{
  margin: 0;
  font-size: 20px;}
/**RECETAS**/
.totalRecipe{
  border-top: solid 1px gray;
}
.recipeDate .date{
  border-left: 1px solid black;
}
.verMas{
  font-size: 12px;
  background-color: rgb(202, 199, 199);
  width: 30%;
  border-radius: 5px;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  color: black;
 }
.verMas:hover{
  background-color: rgb(233, 232, 232);
 }
.imagenreceta{
width: 100%;
height: 100%;}
.recipeheader {width: 100%;
}
.position-ul{list-style: none;
display: flex;
margin-top: 2%;
}
.position-ul li{
  margin-right: 5px;}
li .position-li{text-decoration: none;
color: black;
font-weight: bold;
margin-right: 5px;
}
.position-dif{color: gray;}
.recipe-media {list-style: none;
padding: 0;
}
.socialbtn-r {
color: black;
text-decoration: none;
background-color: peachpuff;
border: 1px solid black;
width: 65%;
line-height: 25px;
text-align: center;
border-radius: 25px; 
margin-bottom: 50%;
}
.articleimg{
  width: 85%;
}
.granolarecipe{width: 100%;
border-radius: 30px;
}
.fullrecipe {display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
margin: 0;}
.fulltxt{display: flex;
justify-content: center;
margin: 5% 0 0 0;}
.main-recipe-social{
  width: 3%;
  margin: 0;}
.recipe-time-data {display: flex;
  justify-content: space-between;
  width: 100%;
  color: gray;
}
.recipe-time-data p{
  display: block;
  float: left;
  font-size: 12px;
  line-height: 14px;
  margin: 18px 0;
  }
.recipe-time-data li{
  display: block;
  float:right;
  margin-left: 10px;
  line-height:14px;
  }
  .recipeDate .dateRecipe{
    border-left: 1px solid gray;
  }
  .recipeDate .name{
    margin-right: 5px;
  }
 .reactions a{
    margin: 0 3px 0 0;
    text-decoration: none;
    color:gray;
    font-size: 11px;
  }
.reactions li{
    font-size: 13px;}
.recipeinfo h3 {
    margin: 0;
  font-size: 25px;
}
.reciperesume{
    color: gray;
  font-size: 15px;
}
blockquote{
display: flex;
    flex-direction: column;
    border-left: 1px solid peachpuff;
    margin: 8% 0 0 0;
  padding-left: 5%;
font-size: 15px;
}
cite{
color: rgb(226, 181, 141);
margin-top: 5%;
}
.ingredients{margin: 5% 0 0 0;}
.ingredients li{margin-bottom: 2%;
    color: gray;
  font-size: 15px;
}
.completerecipe {
display: flex;
width: 66%;
padding: 2% 0 2% 0;
border-top: 1px solid gray;
border-bottom: 1px solid gray;
}
.main-fullrecipe-img{width: 50%;}
.main-fullrecipe-img img {width: 100%;
border-radius: 30px;
}
.recipeDate {display: flex;
font-size: 14px;
}
.recipeinfo{display: flex;
flex-direction: column;
font-size: 12px;
}
.reactions li {list-style: none;
}
.reactions{display: flex;
}
.recipe-full-info {display: flex;
flex-direction: column;
margin-left: 5%;
width: 50%;
}
/**FOOTER**/
.socialmedia{display: flex;
  justify-content: space-between;
  padding: 5% 0 2% 0;
  border-bottom: 1px solid gray;
}
.socialmedia li a,.socialmedia li span{
  font-size: 12px;
  color: gray;
  text-decoration:none;
  list-style:none;
}
.socialmedia li{
  font-size: 12px;
  text-decoration:none;
  list-style:none;
}
/**menos420 550 800enAdelante**/
@media (max-width: 800px){
.carrusel {flex-wrap: wrap;}
.carruselImage.pancakes,.carruselImage.nutcake,.textoSobre{display: none;}
.completerecipe, .videodiv {width: 100%}
.tituloLogo {font-size: 40px;}
.list li a {font-size: 15px;}
.aboutme-box {width: 100%;}
.titulo-p,.aboutme-p,.aboutme-a{width: 50%;}
.completerecipe {border: ;}
}

@media (max-width: 550px){
.recipe-buttons{display: block;}
.recipe-item{width: 100%;
  margin-bottom: 2%;}
  .socialmedia li a{display: none;}
  .socialmedia li span {font-size: 25px;}
}

@media (max-width: 420px)
{.tituloLogo {font-size: 35px;}
.granola,.chococookie,.main-fullrecipe-img{display: none;}
.oreo{width: 100%;}
.videodiv{display: none;}
.titulo-p,.aboutme-p,.aboutme-a{width: 100%;}
.completerecipe {justify-content: center;
border: none;
margin-top: 5%;}
.recipeinfo {font-size: 16px;}
.verMas{background-color: pink;
  width: 50%;}
  .recipe-full-info{width: 80%;}
}